[user]
	email = nguyenkhanhnam2001.12@gmail.com
	name = Rynn
[core]
	excludesfile = C:/Users/Admin/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
